/* All the CSS rules go here */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;500;600;700;800;900&display=swap');

body {
  margin: 0px;
}

.dashboard-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.acmy-sloution-section {
  width: 20%;
  background: var(--color-purple-400, #33074f);
  flex-shrink: 0;
  row-gap: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-section {
  width: 80%;
  flex-shrink: 0;
  background: #fafafa;
}

.acmy-sloutions-header {
  width: 100%;
  background: rgba(235, 230, 237, 0.1);
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  /* padding: 24px 49px; */
  justify-content: center;
}

text.acmy-sloutions {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.48px;
  margin: 0 auto;
  text-align: center;
}

.dashboard-header {
  background: var(--color-white, #fff);
  display: flex;
  padding-top: 24px;
  padding-bottom: 15px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dashboard-body {
  padding-left: 24px;
  padding-top: 24px;
  padding-right: 24px;
}

text.dashboard-text {
  color: var(--color-text-primary, #000);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.4px;
  margin-left: 24px;
}

.dashboard-header-profile {
  margin-right: 24px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

img.bellOff {
  margin-right: 24px;
}

.dashboard-wellcome-wrapper {
  position: relative;
  padding-bottom: 15px;
  padding: 16px 18px;
  border-radius: 8px;
  border: 1px solid var(--color-strokes, #d0d5dd);
  background: var(--color-white, #fff);
  flex-shrink: 0;
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

text.welcome-text {
  color: var(--color-text-primary, #000);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.48px;
}

.wellcome-text-wrapper {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4px;
}

text.welcome-sub-tex {
  color: var(--color-text-secondary, #757575);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

text.welcome-underline-text {
  color: var(--color-pink-400, #bc006d);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}

img.welocmeSectionImage {
  position: absolute;
  right: 64px;
  top: 0;
  display: absoli;
}

.status-button {
  display: inline-flex;
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 183.333% */
}

.In-progress-lable {
  border-radius: 16px;
  background: rgba(242, 201, 76, 0.1);
  color: #f2c94c;
  max-width: 83px;
  width: 83px;
  height: 26px;
}

.done-lable {
  border-radius: 16px;
  background: #e8f5e9;
  right: 0px;
}

.component-wrapper {
  padding-left: 16px;
  padding-bottom: 24px;
  padding-right: 16px;
  display: flex;
  border-radius: 8px;
  border: 1px solid var(--color-strokes, #d0d5dd);
  background: var(--color-white, #fff);
  margin-bottom: 20px;
  flex-shrink: 0;
  flex-direction: column;
}

td.task-grid-font-wrapper {
  padding-top: 12px;
}

td.date {
  color: var(--color-text-secondary, #757575);
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #757575;
  width: 43px;
  padding-top: 13px;
}

td.align-status-lable {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  padding-top: 11px;
}

.grid-font {
  color: var(--color-text-primary, #000);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 350px;
}

.link-button {
  display: inline-flex;
  padding: 4px 0px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: white;
  border: #fff;
  border-radius: 24px;
}

a {
  color: #bc006d;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.common-bell {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

img.Low-priority-bell {
  border-radius: 4px;
  background: var(--Blue-1, #2f80ed);
}

img.High-priority-bell {
  border-radius: 4px;
  background: var(--Red, #eb5757);
}

img.Medium-priority-bell {
  border-radius: 4px;
  background: var(--Yellow, #f2c94c);
}

td.icon-bell {
  width: 28px;
  padding-top: 18px;
}

td {
  vertical-align: top;
}

table,
td {
  border-top: 1px solid #d0d5dd;
  border-collapse: collapse;
}

.pagination-container {
  margin: 0 auto;
}

ul.pagination {
  list-style-type: none;
  column-gap: 8px;
  display: flex;
}

ul.pagination li {
  border: 1px solid red;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #dfe3e8;
}

ul.pagination li a {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

ul.pagination li :hover {
  border: 1px solid #bc006d;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #bc006d;
  color: #bc006d;
}

.grid-components-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  padding-top: 24px;
  justify-content: space-between;
}

.activity-feed-grid {
  border-radius: 8px;
  border: 1px solid var(--color-strokes, #d0d5dd);
  background: var(--color-white, #fff);
  min-width: 424px;
  padding-top: 0px;
}

.css-rorn0c-MuiTableContainer-root {
  width: 100%;
}

th.MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeMedium.css-1ygcj2i-MuiTableCell-root {
  color: var(--color-text-primary, #000);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 16px 12px;
}

.MuiTable-root {
  width: 440px;
  height: 363px;
  overflow-x: 'hidden';
}

.activity-feed-grid {
  border-radius: 8px;
  border: 1px solid var(--color-strokes, #d0d5dd);
  background: var(--color-white, #fff);
  min-width: 424px;
  padding: 16px;
  padding-top: 0px;
}

th.activity-title-text {
  color: var(--color-text-primary, #000);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-top: 16px;
  display: flex;
  padding-bottom: 16px;
}

td.activity-feed-body {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: flex-start;
  padding-top: 16px;
  padding-bottom: 16px;
}

.activity-feed-date {
  color: var(--color-text-secondary, #757575);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.activity-feed-avatar {
  padding-right: 8px;
}

.bold-text {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.normal-text {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.pink-text {
  color: #bc006d;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.grid-components-right-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.task-priority-wrapper {
  border-radius: 8px;
  border: 1px solid var(--color-strokes, #d0d5dd);
  background: var(--color-white, #fff);
}

.divider {
  height: 1px;
  background-color: var(--gray-200, #e4e7ec);
}

.task-priority-title {
  color: var(--color-text-primary, #000);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 16px;
}

.pie-chart-and-description-wrapper {
  padding: 24px 95px;
  display: flex;
  justify-content: center;
}

.task-priority-legend {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding-top: 64px;
}

text.task-priority-levels {
  color: var(--color-text-secondary, #757575);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.legend-series {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

img.legend-series-color {
  padding-bottom: 6px;
  padding-top: 6px;
}

text.acmy-solutions-body-text {
  color: var(--color-white, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.dashboard-column-wrapper {
  border-radius: 24px;
  background: rgba(235, 230, 237, 0.1);
  width: 91%;
  margin-left: 16px;
  margin-right: 16px;
}

.acmy-solutions-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 8px;
  padding: 8px 12px;
}

@media only screen and (max-width: 1200px) {
  .d-none-mobile {
    display: none;
  }
  .dashboard-section {
    width: 100%;
    flex-shrink: 0;
    background: #fafafa;
  }

  .dashboard-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    overflow: hidden;
    justify-content: center;
  }

  .grid-components-wrapper {
    display: flex;
    flex-direction: column;
    column-gap: 0;
    padding-top: 24px;
  }

  .activity-feed-grid {
    border-radius: 8px;
    border: 1px solid var(--color-strokes, #d0d5dd);
    background: var(--color-white, #fff);
    min-width: unset;
    padding: 16px;
    padding-top: 0px;
  }

  .pagination-container {
    margin: 0 auto;
    max-width: 200px;
  }

  .pie-chart-and-description-wrapper {
    padding: 24px 95px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .css-1blkw4v-MuiResponsiveChart-container {
    padding-left: 95px;
    padding-right: 32px;
    width: 250px;
    height: 200px;
  }

  .component-wrapper {
    padding-left: 16px;
    padding-bottom: 24px;
    padding-right: 16px;
    display: flex;
    border-radius: 8px;
    border: 1px solid var(--color-strokes, #d0d5dd);
    background: var(--color-white, #fff);
    margin-bottom: 20px;
    flex-shrink: 0;
    flex-direction: column;
    min-width: fit-content;
  }

  .task-grid-wrapper {
    width: 100%;
  }
  table.activity-feed-table {
    width: 100%;
  }

  .task-priority-wrapper {
    border-radius: 8px;
    border: 1px solid var(--color-strokes, #d0d5dd);
    background: var(--color-white, #fff);
  }

  .activity-feed-grid {
    border-radius: 8px;
    border: 1px solid var(--color-strokes, #d0d5dd);
    background: var(--color-white, #fff);
    min-width: unset;
    padding: 16px;
    padding-top: 0px;
  }

  .acmy-sloution-section {
    position: absolute;
    left: 0;
    width: 2%;
    transition: 0.3s;
    height: 100%;
    z-index: 999;
    background: var(--color-purple-400, #33074f);
  }

  .acmy-sloution-section:hover {
    width: 35%;
    min-width: 217px;
    transition: 0.3s;
  }

  .acmy-sloution-section .acmy-sloutions-header {
    position: absolute;
    opacity: 0;
  }

  .acmy-sloution-section:hover .acmy-sloutions-header {
    position: relative;
    opacity: 1;
    transition: 0.1s;
  }

  .acmy-sloution-section .dashboard-column-wrapper {
    position: absolute;
    opacity: 0;
  }

  .acmy-sloution-section:hover .dashboard-column-wrapper {
    position: relative;
    opacity: 1;
    transition: 0.1s;
  }

  .acmy-sloution-section:hover::after {
    display: none;
  }

  .acmy-sloution-section::after {
    content: '>';
    font-size: 18px;
    position: absolute;
    color: #ffffff;
    height: 20px;
    width: 12px;
    right: 0px;
    font-weight: 900;
    top: 276px;
    background: #301a4e;
    border-radius: 5px;
  }
}
@media only screen and (min-width: 1600px) {
  .grid-components-right-wrapper {
    width: 40%;
  }
  .task-grid-wrapper {
    width: 60%;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1350px) {
  .grid-components-right-wrapper {
    width: 50%;
  }
  .task-grid-wrapper {
    width: 50%;
  }
}
