body {
  margin: 0px;
}

.dashboard-wrapper {
  display: flex;
  flex-direction: row;
  /* max-width: 1440px; */
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.acmy-sloution-section {
  width: 20%;
  /* height: 900px; */
  background: var(--color-purple-400, #33074f);
  flex-shrink: 0;
}

.dashboard-section {
  width: 80%;
  /* height: 900px; */
  flex-shrink: 0;
  background: #fafafa;
}

.acmy-sloutions-header {
  width: 100%;
  /* height: 80px; */
  background: rgba(235, 230, 237, 0.1);
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  /* padding: 24px 49px; */
  justify-content: center;
}

text.acmy-sloutions {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.48px;
  margin: 0 auto;
  text-align: center;
  /* margin-left: 49px; */
  /* margin-right: 48px; */
  /* padding-top: 24px; */
}

.dashboard-header {
  background: var(--color-white, #fff);
  /* width: 1168px; */
  /* height: 80px; */
  display: flex;
  padding-top: 24px;
  padding-bottom: 15px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dashboard-body {
  padding-left: 24px;
  padding-top: 24px;
  padding-right: 24px;
}

text.dashboard-text {
  color: var(--color-text-primary, #000);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.4px;
  margin-left: 24px;
}

.dashboard-header-profile {
  margin-right: 24px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

img.bellOff {
  margin-right: 24px;
}

.dashboard-wellcome-wrapper {
  position: relative;
  padding-bottom: 15px;
  padding: 16px 18px;
  /* width: 100%; */
  /* max-width: 1120px; */
  /* height: 120px; */
  border-radius: 8px;
  border: 1px solid var(--color-strokes, #d0d5dd);
  background: var(--color-white, #fff);
  /* margin-top: 24px; */
  /* margin-left: 24px; */
  flex-shrink: 0;
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

text.welcome-text {
  color: var(--color-text-primary, #000);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.48px;
}

.wellcome-text-wrapper {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4px;
}

text.welcome-sub-tex {
  color: var(--color-text-secondary, #757575);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 849px;
}

text.welcome-underline-text {
  color: var(--color-pink-400, #bc006d);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}

img.welocmeSectionImage {
  position: absolute;
  right: 64px;
  top: 0;
  display: absoli;
  /* width: 167px; */
  /* height: 120px; */
  /* flex-shrink: 0; */
}
img.closeIcon {
  /* margin-top: 16px;
  margin-left: 24px;
  margin-right: 16px; */
}

.task-wrapper {
  width: 656px;
  height: 632px;
  border-radius: 8px;
  border: 1px solid var(--color-strokes, #d0d5dd);
  background: var(--color-white, #fff);
  margin-top: 24px;
  margin-bottom: 20px;
  margin-right: 24px;
  flex-shrink: 0;
}
